<h3> GET TOTAL COUNT OF A CUSTOMER</h3>
<p>ENTER THE FOLLOWING DETAILS TO GET THE NUMBER OF TIMES A CUSTOMER HAS VISITED </p>
<div id="f1">
    <form (ngSubmit) ="onSubmit()">
        <div class="form-group">
            <label>ENTER FIRST NAME</label>
            <input type="text" class = "form-control" id = "firstName">
            
        </div>
        <div class="form-group">
            <label>ENTER LAST NAME</label>
            <input type="text" class = "form-control" id = "lastName">
        </div>
        <button class="btn btn-success" type="submit">CHECK COUNT</button>
</form>