<p>GET RATIO OF GENDERS OF CUSTOMERS THAT VISITED BETWEEN THE ADDED DAYS.<br>CHOOSE DATES TO CONTINUE.</p>
<div id="f1">
    <form (ngSubmit) ="onSubmit()">
        <div class="form-group">
            <label>PICK STARTING DATE</label>
            <input type="date" class = "form-control" id="d1"/>
            <label>PICK ENDING DATE</label>
            <input type="date" class = "form-control" id="d2"/>
            <label>PICK GENDER</label>
            <input type="text" class = "form-control" id="g1"/>
            <button class="btn btn-success" type="submit">Check</button>
        </div>
        </form>
 </div>