<h2 class="center">CUSTOMER DATABASE RELATIONSHIP MODEL</h2>
The purpose is to replace the traditional pen and paper system with computerized databases. The project aims to aid the organization with enhanced customer relationship model and help the organization to increase sales.
<p>The main objectives of the database project are: -</p>
    <ul>
    <li>To integrate the customers’ data</li>
    <li>To improve the level of sales and marketing processes on the customer level</li> 
    <li>To advance existing working procedures and quality standards in sales and marketing;</li>
    <li>To simplify analytical and reporting processes</li>
    <li>To adjust overall company’s approach to the customer relationship.</li>
    
</ul>
<p>Customer data is one of the most valuable types of data that companies can use to optimize marketing and sales efforts. Whether it’s behavioural data—how long a customer was on your website before making a purchase—or identity data, such as which job titles customers have, it <br>can help companies engage better with their customers and offer every customer a personalized <br>experience. Using customer behaviour and characteristics to drive outbound communications can<br> be key to a successful sales and marketing approach. The window in which personalization was considered a nice-to-have instead of a business requirement is already closed. A McKinsey article shared research from U.S. adult respondents noting that 80% of them want personalization from retailers.
    The research also noted that deploying personalization programs at scale can reduce costs for sales and marketing by 10-20%. Personalization at scale allows businesses of all sizes to reach their customers in ways that resonate.
    </p>
    The main problem to be solved is to maintain a database in such a manner that its components not only help to maintain track record of customer but also to use that information in such a way that it benefit the organization by building strategies to improve customer organization relationship and boost the business.
Technically project can be described as Java Database application. Using the various object-oriented approaches, the project will be designed.
The programming languages that will be used to develop the project are:
<ul>
    <li>JAVA</li>
    <li>SPRING BOOT</li> 
    <li>ANGULAR</li>
    <li>MYSQL</li>
    
</ul>
Strategies for the project based on taken data:<ol>
<li>The Database will maintain a count of customers from neighboring cities. Suppose if customers from city A are more than customers from city B, it means that people from city B are not much aware about the salon. That will encourage our marketing team for promoting the salon more in city B so that count of customers from city B can increase.</li>	
<li>We will be also able to find which gender is visiting more. For instance, if females are visiting more than males, it can imply that packages offered by salon for females are much more attractive than that of males, therefore there is need to add more packages for males.</li>
<li>We will also maintain count of customers that will help us to know which customer is visiting more often. Thus, we can provide that particular customer some loyalty offers. For example, if that customer is visiting for the 50th time, we can offer free service. This will not only award the loyal customers, but also attract more customers to be more loyal towards salon.</li>
<li>We will be able to fetch daily total earnings which will help the owner of salon to maintain financial check on his/her salon.</li>
<li>The main way the application will help the owner/organization is the most basic way a computerized database helps, that is maintaining records of customers.</li>
<li>As the application also asks for customer’s contact information, therefore the salon will be able to update the customer about new offers, packages, festive offers etc.</li>
</ol>