<div id="body">
    <h1 class = "center">THE FOLLOWING FIELDS WILL BE DELETED</h1>
    <div>
        <form id="f1"(ngSubmit) ="onSubmit()">
            <div class="form-group">
                <label>FIRST NAME</label>
                
            </div>
            <div class="form-group">
                <label>LAST NAME</label>
                
            </div>
            <div class="form-group">
                <label>GENDER(M or F or O)</label>
                
            </div>
            <div class="form-group">
                <label>CITY</label>
                
            </div>
            <div class="form-group">
                <label>PACKAGE </label>
            </div>
            <div class="form-group">
                <label>CONTACT </label>
                
            </div>
            <div class="form-group">
                <label>MAIL </label>
                
            </div>
            <button class="btn btn-success" type="submit">DELETE</button>
    </form>
    
    </div>
    </div>
    

